
.contact_container {
  width: 100%;
  min-height: 100vh;
  background-color:rgb(9, 17, 24);
  color: #4f8afa;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_sub_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  /* width: 100%; */
}

form {
  width: 100%;
  max-width: 500px;
}

input,
textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #b5cefc;
  width: 100%;
  padding: 12px 10px;

    color: #b5cefc;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
}
textarea {
  padding: 0px 10px;
}
::placeholder {
  color:#b5cefc;
}

.sendmsg_Btn {
  padding: 12px 25px;
  border: 1px solid transparent;
  border-radius: 18px;
  background-color:#4f8afa;
  color: rgb(250, 248, 248);
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sendmsg_Btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #4f8afa;
}

.right_contact_inner_img {
  max-width: 500px;
  width: 100%;
}

.right_contact_inner_img img {
  width: 100%;
  height: auto;
}

.contact_containerh1 {
  font-size: 3rem;
  margin-top: 20px;
  text-align: center;
  color: #4f8afa;
}



/* Mobile responsive tweaks */
@media screen and (max-width: 768px) {
  .contact_sub_container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact_containerh1 {
    font-size: 2.5rem;
  }
}
