.footer{
    /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.3px solid   #b5cefc;
}
.footerleft:hover{
    cursor: pointer;
  
}
.footerright .topbtn svg{

  /* background-color: #b64605 !important; */
    fill: #4f8afa !important;
        margin-left: 5px !important;
}
.footerright button:hover{
    
    /* color: white; */
    border-color: transparent;
}
.icon_ {
    transition: transform 0.3s ease-in-out;
}

.icon_:hover {
    transform: scale(1.2); 
}
.footer_link{
    color: #cfdef8 ;
}
.footer{
    color: #dde6f7;
}