.footer{
    /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.3px solid   #b5cefc;
  /* margin-top: 150px; */
   color: #cfdef8 ;
    background: rgba(0, 0, 0, 0.2); 
     backdrop-filter: blur(30px); 
    
}
.footerleft:hover{
    cursor: pointer;
  
}
.footer_link:hover{
     color: #4f8afa; 
}
.footerright .topbtn svg{

  /* background-color: #b64605 !important; */
    fill: #4f8afa !important;
        /* margin-left: 5px !important; */
}
.footerright button:hover{
     color: #4f8afa;
    /* color: white; */
    border-color: transparent;
}
.icon_ {
    transition: transform 0.3s ease-in-out;
}

.icon_:hover {
    transform: scale(1.2); 
}
.footer_link{
    color: #cfdef8 ;
}
.footer{
    color: #dde6f7;
}
.foooter_pagelink{
    text-decoration: none;
    color: #b5cefc;
    font-weight: 700;
     transition: transform 0.3s ease-in-out, color 0.3s;
}
.foooter_pagelink:hover{
     transform: scale(1.15);
  color: #4f8afa;
 
}