.home{
	  background-color: black;
	  height: 100vh;
	  	display: flex;
	

	align-items: center;
	margin: 0 auto;
	padding: 50px;
} 

.home_Content{
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 10%; 
	transform: translateY(-50%);
  max-width: 90%;
  color:#dde6f7;
  /* color:  #4f8afa; */
}

.myname {
  font-size: clamp(2.8rem, 6vw, 5rem);
  color:  #4f8afa;
   text-shadow: 1px 1px 2px #dde6f7; 
}

.my_profession {
  font-size: clamp(1.5rem, 4vw, 3rem);
}
.home_button button{
	background-color: #4f8afa ;
	color:#dde6f7;
	
}
.cv_btn{
	background-color:#dde6f7;
	color:  #4f8afa;
}
.home_left_img{
  order: 1;
}
.home_right_content{
order: 2;
}
@media screen and (max-width: 770px) {
  .home_Content {
      top: 50%;
    left: 30%;
      max-width: 100%;
    transform: translateY(-40%);
  }

  .home_button {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
 .home_left_img{
  order: 2;
}
.home_right_content{
order: 1;
}

}


