.home{
	  background-color: black;
	  height: 100vh;
	  	display: flex;
	

	align-items: center;
	margin: 0 auto;
	padding: 50px;
} 

.home_Content{
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 10%;
	transform: translateY(-50%);
  max-width: 90%;
  color: #f8ddb5;
  /* color: #b64605; */
}

.myname {
  font-size: clamp(2.8rem, 6vw, 5rem);
  color: #b64605;
   text-shadow: 1px 1px 2px #f8ddb5; 
}

.my_profession {
  font-size: clamp(1.5rem, 4vw, 3rem);
}
.home_button button{
	background-color:#b64605 ;
	color: #f8ddb5;
	
}
.cv_btn{
	background-color: #f8ddb5;
	color: #b64605;
}
@media screen and (max-width: 668px) {
  .home_Content {
    left: 5%;
    top: 40%;
    transform: translateY(-40%);
  }

  .home_button {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


