/* Base Navbar Styling */
.navbar {
  background-color: rgba(13, 27, 42, 0.5);

  border-bottom: 0.3px solid #b5cefc;

  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  padding: 8px;
  backdrop-filter: blur(10px);
}
.signature-text {
  font-family: "Great Vibes", cursive;
  font-size: 3em;

  color: #4f8afa;
  text-shadow: 0.5px 0.5px 0.5px #b5cefc;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 20px;
}

/* Nav Links */
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.nav-links a {
  color: #faf9f6;
  font-size: 19px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.3s;
}

.nav-links a:hover {
  transform: scale(1.05);
  color: #4f8afa;
  text-shadow: 0.5px 0.5px 0.5px #b5cefc;
}

.nav-links a.active {
  font-weight: bold;
  color: #4f8afa;
  text-shadow: 0.5px 0.5px 0.5px #b5cefc;
}

/* Hamburger Button */
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: wheat;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Responsive: Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    
  }

  .nav-links {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background-color: rgba(13, 27, 42, 0.966);
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
