.outer {
  overflow: hidden;
  width: 100%; 
  margin-bottom: 150px;
  margin-top: 50px;
}

.scroll-track {
  width: 100%;
  width: fit-content;
}

.scroll-content {
  display: flex;
  gap: 25px;
  padding: 0px;
  animation: scroll 30s linear infinite;
}

.scroll-content:hover {
  animation-play-state: paused;
}

.scroll_img{
  width: 150px;
  height: 150px;
  border-radius: 18px;
  /* border: 1px solid  #f8ddb5 ; 
  box-shadow: 5px 0px 0px #b64605 ; */
  border-bottom: 1px solid  #4f8afa;
  border-top: 1px solid  #4f8afa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
  object-fit: contain;
  flex-shrink: 0; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 770px){
   .scroll_img{
  width: 130px;
  height: 130px;}
  .outer {
    margin-top: 200px;
  }
}