.scroll-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* Code-text spans appear blurred on hover */
.code-text {
  position: absolute;

  font-size: 16px;
  color: rgba(255, 255, 255, 0.048);
  color: rgba(255, 255, 255, 0.03);
  white-space: nowrap;
  pointer-events: none;
  filter: blur(4px);
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.6s ease-in-out;
  z-index: 0;
}

.scroll-container:hover .code-text {
  opacity: 1;
  filter: blur(1.5px);
  transform: scale(1.2) rotate(1deg);
}
.outer {
  overflow: hidden;
  width: 90%;

  margin: auto;
}

.scroll-track {
  width: 100%;
  width: fit-content;
}

.scroll-content {
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  gap: 50px;
  padding: 0px;
  animation: scroll 30s linear infinite;
}

.scroll-content:hover {
  animation-play-state: paused;
}
.skill-card {
  font-size: 1rem;
  font-weight: 600;
  color: #00bfff; /* bright accent color */
  text-shadow: 0 0 10px rgba(0, 191, 255, 0.6);
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 150px;
  padding: 0px 20px;
  height: 100px;
  border-radius: 20px;
  color: #4f8afa;
  border-bottom: 1px solid #4f8afa;
  border-top: 1px solid rgb(79, 138, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: rgba(255, 255, 255, 0.05); /* semi-transparent */
  backdrop-filter: blur(8px);
}

.skill-card:hover {
  /* transform: scale(1.1); */
  cursor: pointer;
  box-shadow: 0px 8px 12px #fff;
  box-shadow: rgba(79, 138, 250, 0.35) 0px 4px 12px;
  transform: translateY(-8px) scale(1.05);
}

/* .scroll_img{
  width: 130px;
  height: 150px;
  border-radius: 18px;
 
  border-bottom: 1px solid  #4f8afa;
  border-top: 1px solid  rgb(79, 138, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
  object-fit: contain;
  flex-shrink: 0; 
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.scroll_img:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 8px 12px #fff;
  box-shadow: rgba(79, 138, 250,0.35) 0px 4px 12px;
} */
.sub_Skill {
  color: #cfd4df71;
  font-size: 0.9rem;
  font-weight: 500;
}
.skills_heading {
  margin-top: 65px;
  color: #4f8afa;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 770px) {
  .scroll_img {
    width: 130px;
    height: 130px;
  }
  .outer {
    margin-top: 200px;
  }
}
