
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.pinkfontcolor{
   color:  #F4C2C2
}
.dancing_script{
    font-family: "Dancing Script", cursive;
}
.popinsfont{
    font-family: "Poppins", sans-serif;
}

.app{ 
 
    background-color: rgb(9, 17, 24);
}
.main-content{
 padding-top: 90px;
}
.bluecolor{
 color: #4f8afa;
}
.lightblurcolor{
  color: #b5cefc;
}